@import 'modules/status';
@import 'modules/button';
@import 'modules/nav';
@import 'pages/users';

body {
  padding-top: 70px;
  background: #D3DADE;
}

.container h1:first-of-type {
  margin-top: 0;
}

